In [2]:
print("Hello World")

Hello World

In [3]:
firstName = "Shakeel"
lastName = "Haider"
email = "shkHaider2015@gmail.com";

print("Name : " + firstName + " " + lastName)
print("Contact : " + email)

Name : Shakeel Haider
Contact : shkHaider2015@gmail.com

In [4]:
fNum = 43;
lNum = 3;
sum = fNum + lNum;

print("Total is " + str(sum))

Total is 46

In [5]:
fnum = 3.3;
lnum = 4.7;
sum = fnum + lnum;

print("total is " + str(sum))

total is 8.0

In [6]:
print("Reminder !! ...variables naming rule")

Reminder !! ...variables naming rule

In [7]:
num1 = 12;
num2 = 13;
x = num1 + num2;
num1 += 3;
z = num1 / num2;
a = num1 * num2;

print(x);

print(num1);

print(z);

print(a);

25
15
1.1538461538461537
195

In [8]:
num1 = 1 + 4 * 3 / 2;
num2 = (1 + 4) * 3 / 2;
num3 = 1 + (4 * 3) / 2;

print("python follow precedence rules");
print(num1);
print(num2);
print(num3);

python follow precedence rules
7.0
7.5
7.0

In [9]:
name = "Shakeel";
language = "Pashto";
city = "karachi";

print("My name is " + str(name) + " and i'm living in " + str(city));

My name is Shakeel and i'm living in karachi

In [10]:
num1 = 3;
num2 = 5;

if num1 == num2:
    print("they are equal");
elif num1 < num2:
    print("first number is less than second number");
else:
    print("first number is greater than second number");

first number is less than second number

In [11]:
name1 = "Shakeel";
shakeelMarks = 55;
name2 = "zeeshan";
zeeshanMarks = 75;

if shakeelMarks == zeeshanMarks:
    print("Draw !!");

elif shakeelMarks < zeeshanMarks:
    print(str(name1) + " win !!");
else:
    print(str(name2) + " win !!");

Shakeel win !!

In [12]:
name1 = "Shakeel";
shakeelMarks = 55;
name2 = "zeeshan";
zeeshanMarks = 75;

if shakeelMarks == zeeshanMarks:
    print("Draw !!");
elif shakeelMarks < zeeshanMarks:
    print(str(name1) + " win !!");
else:
    print(str(name2) + " win !!");

Shakeel win !!

In [13]:
shakeelWeight = 90;
nomanWeight = 72;
dawoodWeight = 53;

sAge = 24;
nAge = 19;
dAge = 23;

if shakeelWeight > 75 and sAge >20:
    print("join gym");
elif dawoodWeight < 65 or (dAge < 30 and dAge > 18):
    print("problem !!");

join gym

In [14]:
name = "shakeel";
studentId = 1735;

if name == "shakeel":
    print("name is cleared !!");
    if studentId == 1735:
        print("identified");
    else:
        print("wrong person");
else:
    print("wrong person");

name is cleared !!
identified

In [15]:
# addition will takes place after multiplication and addition
num1 = 1 + 4 * 3 / 2;

# same as 5 * 3 /2 
num2 = (1 + 4) * 3 / 2;

# same as 1+12/2 
num3 = 1 + (4 * 3) / 2;

print("python follow precedence rules");

# this should produce 7.5
print(num1);
print(num2);
print(num3);

python follow precedence rules
7.0
7.5
7.0

In [16]:
foods = [ "Nihari", "Biryani", "Karahi", "Qorma", "Salad", "Kabab", "Polaow" ];

print(str(foods[1]) + " != " + str(foods[6]));

Biryani != Polaow

In [17]:
cities = ["karachi", "Miltan", "Faisalabad"]

print(cities);

cities.append("Mardan")

print("After append(Mardan)  ")
print(cities)

cities.insert(0, "Peshawar")

print("After insert(0, Peshawar)")
print(cities)

['karachi', 'Miltan', 'Faisalabad']
After append(Mardan)
['karachi', 'Miltan', 'Faisalabad', 'Mardan']
After insert(0, Peshawar)
['Peshawar', 'karachi', 'Miltan', 'Faisalabad', 'Mardan']

In [18]:
players = ["Ronaldo", "Drogba", "Lempard", "Messi", "Isco", "Hazard",]

print(players)
print("Best Players Are :")
print(players[1:4])

['Ronaldo', 'Drogba', 'Lempard', 'Messi', 'Isco', 'Hazard']
Best Players Are :
['Drogba', 'Lempard', 'Messi']

In [19]:
players = ["Messi", "Suarez", "Coutinho", "Dembele", "Pique"]
print(players)

del players[4]

print(players)

players.remove("Dembele")

print(players)

['Messi', 'Suarez', 'Coutinho', 'Dembele', 'Pique']
['Messi', 'Suarez', 'Coutinho', 'Dembele']
['Messi', 'Suarez', 'Coutinho']

In [20]:
players = ["Messi", "Suarez", "Coutinho", "Dembele", "Pique"]
print(players)

defenders = players.pop(4)

print("Attackers are :")


print(players)

['Messi', 'Suarez', 'Coutinho', 'Dembele', 'Pique']
Attackers are :
['Messi', 'Suarez', 'Coutinho', 'Dembele']

In [21]:
Tuple1 = ("Karachi", "Lahore", "Islamabad", "Peshawar", "Mardan"); 
print (Tuple1);

for a in Tuple1: 
    print("City Name: " + a);

('Karachi', 'Lahore', 'Islamabad', 'Peshawar', 'Mardan')
City Name: Karachi
City Name: Lahore
City Name: Islamabad
City Name: Peshawar
City Name: Mardan

In [ ]:
players = ["Messi", "Ronaldo", "Neymar", "Hazard", "Mbappe", "Kimich", "Lewandolski"]
best_players = ["Messi", "Ronaldo", "Hazard"]

for a in players:
    if a == best_players:
        print("This is one of tha Best Players")
        print(a)
    else
        print("No Match")

In [22]:
for i in range(1,10):
    for j in range(1,10):
        k = i*j
        print (k, end=' ')
    print()

1 2 3 4 5 6 7 8 9
2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [23]:
print('Enter your name:');

x = input();
print ('Enter you Age');
a = input();
print('Hello, ' + x +' Your age is: ' + a);

print("Hello, " + str(x) + " Your age is: " + str(a));

Enter your name:
sHAKEEL
Enter you Age
25
Hello, sHAKEEL Your age is: 25
Hello, sHAKEEL Your age is: 25

In [24]:
string = "THIS SHOULD ALL BE LOWERCASE."
print(string.lower())

string = "this should all be uppercase."
print(string.upper())

string = "ThIs ShOuLd Be MiXeD cAsEd."
print(string.swapcase())

this should all be lowercase.
THIS SHOULD ALL BE UPPERCASE.
tHiS sHoUlD bE mIxEd CaSeD.

In [25]:
BioData = {
      "Name": "Shakeel Haider",
      "Age": "24",
      "DOB": "06/08/1994",
      "Location": "Karachi"
    }
    
print(BioData)

{'Name': 'Shakeel Haider', 'Age': '24', 'DOB': '06/08/1994', 'Location': 'Karachi'}

In [26]:
Data = {
  "Name:": "Usama Riaz",
  "ID:": "1500-2015",
  "Age:": "21",
  "DOB:": "29/05/1997",
  "Location:": "Karachi"
}

for a,b in Data.items():
    print(a,b)

Name: Usama Riaz
ID: 1500-2015
Age: 21
DOB: 29/05/1997
Location: Karachi

In [27]:
Names = {
    "Shakeel": "1735-2015",
    "Usman": "2370-2015",
    "Sohail": "1432-2015"
}
print("ID for Shakeel is " + Names["Shakeel"])
for k,v in Names.items():
    print(k,v)

ID for Shakeel is 1735-2015
Shakeel 1735-2015
Usman 2370-2015
Sohail 1432-2015

In [28]:
print("Integer Dictionary:")
IntDict = {1: "Pakistan", 2: "India", 3: "Sweden", 4: "Iraq"} 
print(IntDict)

print("String Dictionary")
St1Dict = {"Country": "Iraq"} 
print(St1Dict)

Integer Dictionary:
{1: 'Pakistan', 2: 'India', 3: 'Sweden', 4: 'Iraq'}
String Dictionary
{'Country': 'Iraq'}

In [29]:
Student = {'name':'Shakeel', 'age': 24}

Student
 
print(Student)
Student['Location'] = 'Karachi'  

print(Student)

{'name': 'Shakeel', 'age': 24}
{'name': 'Shakeel', 'age': 24, 'Location': 'Karachi'}

In [30]:
players = { "name" : "Messi", "age" : 32, "goals": 800, "cap" : 700}
print(players)
players["age"] = 33
print(players)
players["goals"] = 812
print(players)

{'name': 'Messi', 'age': 32, 'goals': 800, 'cap': 700}
{'name': 'Messi', 'age': 33, 'goals': 800, 'cap': 700}
{'name': 'Messi', 'age': 33, 'goals': 812, 'cap': 700}

In [31]:
players = { "name" : "Messi", "age" : 32, "goals": 800, "cap" : 700}
players
for v in players.values():
    print(v)

Messi
32
800
700

In [32]:
players = { "name" : "Messi", "age" : 32, "goals": 800, "cap" : 700}

players.keys()

for k in players.keys():
    print(k)

name
age
goals
cap

In [33]:
players = { "name" : "Messi", "age" : 32, "goals": 800, "cap" : 700}
print(players)

for k,v in players.items():
    print(k,v)

{'name': 'Messi', 'age': 32, 'goals': 800, 'cap': 700}
name Messi
age 32
goals 800
cap 700

In [34]:
players = [ 
    {
        'name': 'messi',
        'age': 33,
        'goals': 814
    },
    
{
    'name': 'ronaldo',
    'age': 46,
    'goals': 77
}
]
print(players)

[{'name': 'messi', 'age': 33, 'goals': 814}, {'name': 'ronaldo', 'age': 46, 'goals': 77}]

In [35]:
players = [ 
    {
        'name': 'messi',
        'age': 33,
        'goals': 814
    },
    
{
    'name': 'ronaldo',
    'age': 46,
    'goals': 77
}
]
print(players)

best = players[0]
most_goals = best['goals']
print(most_goals)

[{'name': 'messi', 'age': 33, 'goals': 814}, {'name': 'ronaldo', 'age': 46, 'goals': 77}]
814

In [38]:
Listofnums = [1, 2, 3, 4, 5, 6,7,8,9]
x = len(Listofnums)
print("length of list is " + str(x))

customers = [
  {
    "customer id": 0,
    "first name":"Shakeel",
    "last name": "Haider",
  }
]

new_customer_id = len(customers)
new_first_name = "Zeeshan"
new_last_name = "Khan"


new_dictionary = {
  "customer id": new_customer_id,
  "first name": new_first_name,
  "last name:": new_last_name,
}
customers.append(new_dictionary)
print(customers)

length of list is 9
[{'customer id': 0, 'first name': 'Shakeel', 'last name': 'Haider'}, {'customer id': 1, 'first name': 'Zeeshan', 'last name:': 'Khan'}]

In [39]:
dict = {
  "population": 1000,
  "group sizes": [47600, 45600, 20851],
}
print("This is dictionary")
print(dict)


product_lists = {
  "products": ["Fanta", "Sprite", "Pakola","Pepsi", "7up", "Coca‑Cola" ],
  "product qtys": [5, 15, 6, 13, 22, 45, 24],
}
print("This is List")
print(product_lists)

This is dictionary
{'population': 1000, 'group sizes': [47600, 45600, 20851]}
This is List
{'products': ['Fanta', 'Sprite', 'Pakola', 'Pepsi', '7up', 'Coca‑Cola'], 'product qtys': [5, 15, 6, 13, 22, 45, 24]}

In [40]:
details = {
  "nickname": "Shakeel",
  "married": "no",
  "careers": ["Web Developer", "Software Engineer", "CEO"],
}
if "Web Developer" in details["careers"]:
    print("yes!")
else:
    print("no")

yes!

In [41]:
customers = [
    {
         "customer id": 0,
         "first name":"Shakeel",
         "last name": "Haider",
         "address": "S.I.T.E Town", 
    },
    {
        "customer id": 1,
        "first name":"Zeeshan",
        "last name": "Khan",
        "address": "Orangi Town", 
    },
    {
        "customer id": 2, 
        "first name":"Ibrar",
        "last name": "Shah",
        "address": "Mardan", 
    },]

print(str(customers))

[{'customer id': 0, 'first name': 'Shakeel', 'last name': 'Haider', 'address': 'S.I.T.E Town'}, {'customer id': 1, 'first name': 'Zeeshan', 'last name': 'Khan', 'address': 'Orangi Town'}, {'customer id': 2, 'first name': 'Ibrar', 'last name': 'Shah', 'address': 'Mardan'}]

In [42]:
customers = {
  0:  {
         "First name":"Shakeel",
         "Middle name": "Haider",
         "Last name": "Mashwani",
         "Address": "S.I.T.E Town", 
    },
 1:  {
        "First Name":"Bilal",
      "Middle name": "Khan",
        "Last Name": "Mashwani",
        "Address": "Mardan", 
    },
 2:   { 
        "First Name":"Yasir",
     "Middle name": "Shah",
        "Last Name": "Ahmad Zai",
        "Address": "Karachi", 
    },
}
print(customers[0])
print(customers[1])
print(customers[2])

{'First name': 'Shakeel', 'Middle name': 'Haider', 'Last name': 'Mashwani', 'Address': 'S.I.T.E Town'}
{'First Name': 'Bilal', 'Middle name': 'Khan', 'Last Name': 'Mashwani', 'Address': 'Mardan'}
{'First Name': 'Yasir', 'Middle name': 'Shah', 'Last Name': 'Ahmad Zai', 'Address': 'Karachi'}

In [43]:
first_number = 6 
second_number = 8
total = first_number + second_number 
print("Total no without function", total)

def add_numbers():
    first_number = 9
    second_number = 3
    total = first_number + second_number
print("Total number with function", total)

Total no without function 14
Total number with function 14

In [46]:
def addition1():
    num1 = 3
    num2 = 4
    sum = num1 + num2
    print(sum)



def addition(num1, num2):
    sum = num1 + num2
    print(sum)

addition1()
addition(4,5)

7
9

In [45]:
def addition(num1=0, num2=0):
    sum = num1 + num2
    print(sum)
    
addition()
addition(3,5)

0
8

In [47]:
def addition(num1=0, num2=0):
    sum = num1 + num2
    print(sum)
    
addition()
addition(4,23)

0
27

In [48]:
def greeting(name="s"):
    if(name == "s"):
        print("You didnt write your name")
    else:
        print("Hello " + str(name) + " !!!")
        

        
var = input("Enter your name or write s")
greeting(var)

Enter your name or write sS
Hello S !!!

In [49]:
def display_result(winner, score, **other_info):
    print("The winner was " + winner)
    print("The score was " + score)
    for key, value in other_info.items():
        print(key + ": " + value)
        
        
team = "Barcelona"
goals = "6-0"
injures = "none"
substitute = 3

display_result(team, goals)

The winner was Barcelona
The score was 6-0

In [1]:
def addition(val1, val2):
    return "Hi " + str(val1) + str(val2)

val1 = input("Enter First Name")
val2 = input("Enter Last Name")
sums = addition(val1, val2)
print(sums)

Enter First NameSHAKEEL
Enter Last NameHAIDER
Hi SHAKEELHAIDER

In [2]:
def add_Numbers(num1 , num2):
    return num1 + num2

def subtract_Numbers(num1, num2):
    return num1 - num2

def multi_Numbers(num1, num2):
    return num1 * num2

def devide_Numbers(num1, num2):
    return num1 / num2

x = int(input("Enter First Number"))
y = int(input("Enter Second Number"))

addition = add_Numbers(x , y)
subtraction = subtract_Numbers(x, y)
multiplication = multi_Numbers(x, y)
division = devide_Numbers(x, y)

print(addition)
print(subtraction)
print(multiplication)
print(division)

Enter First Number4
Enter Second Number5
9
-1
20
0.8

In [3]:
#global Variable
x = 100

def fun(x):
    #local scope of variable
    x = 3 + 2
    return x

local = fun(x)
print(local)
print(x)

5
100

In [4]:
def fun():
    def extra():
        print("Hello ")
    def extra1():
        print("Shakeel")
    fun1 = extra()
    fun2 = extra1()

fun()

Hello
Shakeel

In [5]:
num = 6
val = 0
while val!=num:
    print(val)
    val += 1

0
1
2
3
4
5

In [6]:
num = 0

while num != 5:
    if(num == 2):
        print("num now = 2")
    else:
        print(num)
    num = num + 1
    
print(num)

0
1
num now = 2
3
4
5

In [7]:
class Employee:
   empCount = 0

   def __init__(self, name, salary):
      self.name = name
      self.salary = salary
      Employee.empCount += 1
   
   def displayCount(self):
     print("Total Employee %d" % Employee.empCount)
   
   def displayEmployee(self):
      print("Name : ", self.name,  ", Salary: ", self.salary)
        
        
# This would create first object of Employee class
emp1 = Employee("Shakeel", 2000)
# This would create second object of Employee class
emp2 = Employee("Salman", 5000)

emp1.displayEmployee()
emp2.displayEmployee()

Name :  Shakeel , Salary:  2000
Name :  Salman , Salary:  5000

In [8]:
class Employee:
   empCount = 0

   def __init__(self, name, salary):
      self.name = name
      self.salary = salary
      Employee.empCount += 1
   
   def displayCount(self):
     print("Total Employee %d" % Employee.empCount)
   
   def displayEmployee(self):
      print("Name : ", self.name,  ", Salary: ", self.salary)
        
        
# This would create first object of Employee class
emp1 = Employee("Shakeel", 2000)
# This would create second object of Employee class
emp2 = Employee("Salman", 5000)

emp1.displayEmployee()
emp2.displayEmployee()

Name :  Shakeel , Salary:  2000
Name :  Salman , Salary:  5000

In [9]:
class Employee:
   empCount = 0

   def __init__(self, name, salary):
      self.name = name
      self.salary = salary
      Employee.empCount += 1
   
   def displayCount(self):
     print("Total Employee %d" % Employee.empCount)
   
   def displayEmployee(self):
      print("Name : ", self.name,  ", Salary: ", self.salary)
        
        
# This would create first object of Employee class
emp1 = Employee("Shakeel", 2000)
# This would create second object of Employee class
emp2 = Employee("Salman", 5000)

emp1.displayEmployee()
emp2.displayEmployee()

Name :  Shakeel , Salary:  2000
Name :  Salman , Salary:  5000

In [10]:
class Employee:
   empCount = 0

   def __init__(self, name, salary):
      self.name = name
      self.salary = salary
      Employee.empCount += 1
   
   def displayCount(self):
     print("Total Employee %d" % Employee.empCount)
   
   def displayEmployee(self):
      print("Name : ", self.name,  ", Salary: ", self.salary)
        
        
# This would create first object of Employee class
emp1 = Employee("Shakeel", 2000)
# This would create second object of Employee class
emp2 = Employee("Salman", 5000)

emp1.displayEmployee()
emp2.displayEmployee()

Name :  Shakeel , Salary:  2000
Name :  Salman , Salary:  5000

In [11]:
class Employee:
   empCount = 0

   def __init__(self, name, salary, Age):
      self.name = name
      self.salary = salary
      self.Age = Age
      Employee.empCount += 1
   
   def displayCount(self):
     print("Total Employee %d" % Employee.empCount)
   
   def displayEmployee(self):
      print("Name : "+ str(self.name)+  ", Salary: "+ str(self.salary)+ ", Age: "+ str(self.Age))
        
        
# This would create first object of Employee class
emp1 = Employee("Shakeel", 2000, 24)
# This would create second object of Employee class
emp2 = Employee("Salman", 5000, 27)

emp1.displayEmployee()
emp2.displayEmployee()

Name : Shakeel, Salary: 2000, Age: 24
Name : Salman, Salary: 5000, Age: 27

In [12]:
class Employee:
   empCount = 0

   def __init__(self, name, salary, Age):
      self.name = name
      self.salary = salary
      self.Age = Age
      Employee.empCount += 1
   
   def displayCount(self):
     print("Total Employee %d" % Employee.empCount)
   
   def displayEmployee(self):
      print("Name : "+ str(self.name)+  ", Salary: "+ str(self.salary)+ ", Age: "+ str(self.Age))
        
        
# This would create first object of Employee class
emp1 = Employee("Shakeel", 2000, 24)
# This would create second object of Employee class
emp2 = Employee("Salman", 5000, 27)

name1 = emp1.name
name2 = emp2.name

age1 = emp1.Age
age2 = emp2.Age

print(name1)
print(age1)
print(name2)
print(age2)

Shakeel
24
Salman
27

In [13]:
class Employee:
   empCount = 0

   def __init__(self, name, salary, Age):
      self.name = name
      self.salary = salary
      self.Age = Age
      Employee.empCount += 1
   
   def displayCount(self):
     print("Total Employee %d" % Employee.empCount)
   
   def displayEmployee(self):
      print("Name : "+ str(self.name)+  ", Salary: "+ str(self.salary)+ ", Age: "+ str(self.Age))
        
        
# This would create first object of Employee class
emp1 = Employee("Shakeel", 2000, 24)
# This would create second object of Employee class
emp2 = Employee("Salman", 5000, 27)

name1 = emp1.name
name2 = emp2.name

age1 = emp1.Age
age2 = emp2.Age

print(name1)
print(age1)
print(name2)
print(age2)

Shakeel
24
Salman
27

In [14]:
class Employee:
   empCount = 0

   def __init__(self, name, salary, Age):
      self.name = name
      self.salary = salary
      self.Age = Age
      Employee.empCount += 1
   
   def displayCount(self):
     print("Total Employee %d" % Employee.empCount)
   
   def displayEmployee(self):
      print("Name : "+ str(self.name)+  ", Salary: "+ str(self.salary)+ ", Age: "+ str(self.Age))
        
        
# This would create first object of Employee class
emp1 = Employee("Shakeel", 2000, 24)
# This would create second object of Employee class
emp2 = Employee("Salman", 5000, 27)

name1 = emp1.name
name2 = emp2.name

age1 = emp1.Age
age2 = emp2.Age

print(name1)
print(age1)
print(name2)
print(age2)

Shakeel
24
Salman
27

In [15]:
class Employee:
   empCount = 0

   def __init__(self, name, salary, Age):
      self.name = name
      self.salary = salary
      self.Age = Age
      Employee.empCount += 1
   
   def displayCount(self):
     print("Total Employee %d" % Employee.empCount)
   
   def displayEmployee(self):
      print("Name : "+ str(self.name)+  ", Salary: "+ str(self.salary)+ ", Age: "+ str(self.Age))
   
   def changeAge(self, newAge):
        self.Age = newAge
        
        
# This would create first object of Employee class
emp1 = Employee("Shakeel", 2000, 24)
# This would create second object of Employee class
emp2 = Employee("Salman", 5000, 27)

name1 = emp1.name
name2 = emp2.name

age1 = emp1.Age
age2 = emp2.Age

print(name1)
print(age1)
print(name2)
print(age2)

emp1.changeAge(45)

print(str(emp1.Age))

Shakeel
24
Salman
27
45